<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="target.platform">
	<locations>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
					<dependency>
					<groupId>vogella</groupId>
					<artifactId>plugin1</artifactId>
 					<version>1.0.0-SNAPSHOT</version>
				</dependency>
					<dependency>
					<groupId>vogella</groupId>
					<artifactId>feature2</artifactId>
 					<version>1.0.0-SNAPSHOT</version>
				</dependency>
			</dependencies>
			<repositories>
				<repository>
					<id>localRepository</id>
					<url>file:///tmp/test-repo</url>
				</repository>
			</repositories>
		</location>
	</locations>
</target>